---
import App from '../root'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro - Solidjs - Tailwind</title>
  </head>
  <body>
    <header class="border-b py-3 text-center">
      <nav>
        <a href="/">WanderSafe</a>
      </nav>
    </header>
    <main class="max-w-screen-sm mx-auto px-4 py-8">
      <App client:only="solid-js" />
    </main>
  </body>
</html>
